<a href="https://colab.research.google.com/github/TroyMcClure8998/research_public/blob/master/Week_6_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3 id="exercise">Exercise: Your First Program</h3>

<p>Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.</p>
<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

In [0]:
# Write your code below and press Shift+Enter to execute

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [0]:
# Write your code below and press Shift+Enter to execute

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<h3 id="exer_exp">Exercise: Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<h2 id="quiz">Quiz on Strings</h2>

What is the value of the variable <code>A</code> after the following code is executed?

In [0]:
# Write your code below and press Shift+Enter to execute 

A = "1"

What is the value of the variable <code>B</code> after the following code is executed?

In [0]:
# Write your code below and press Shift+Enter to execute

B = "2"

What is the value of the variable <code>C</code> after the following code is executed?

In [0]:
# Write your code below and press Shift+Enter to execute 

C = A + B

<hr>

Consider the variable <code>D</code> use slicing to print out the first three elements:

In [0]:
# Write your code below and press Shift+Enter to execute

D = "ABCDEFG"

<hr>

Use a stride value of 2 to print out every second character of the string <code>E</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

E = 'clocrkr1e1c1t'

<hr>

Print out a backslash:

In [0]:
# Write your code below and press Shift+Enter to execute

<hr>

Convert the variable <code>F</code> to uppercase:

In [0]:
# Write your code below and press Shift+Enter to execute

F = "You are wrong"

<hr>

Consider the variable <code>G</code>, and find the first index of the sub-string <code>snow</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In the variable <code>G</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

<h2 id="quiz">Quiz on Tuples</h2>

Consider the following tuple:

In [0]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

Find the length of the tuple, <code>genres_tuple</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesQuiz.png" width="1100" align="center">

Access the element, with respect to index 3:

In [0]:
# Write your code below and press Shift+Enter to execute

Use slicing to obtain indexes 3, 4 and 5:

In [0]:
# Write your code below and press Shift+Enter to execute

Find the first two elements of the tuple <code>genres_tuple</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

Find the first index of <code>"disco"</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

Generate a sorted List from the Tuple <code>C_tuple=(-5, 1, -3)</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

<h2 id="quiz">Quiz on List</h2>

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [0]:
# Write your code below and press Shift+Enter to execute

Find the value stored at index 1 of <code>a_list</code>.

In [0]:
# Write your code below and press Shift+Enter to execute

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [0]:
# Write your code below and press Shift+Enter to execute

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

<h2 id="quiz">Quiz on Dictionaries</h2>

<b>You will need this dictionary for the next two questions:</b>

In [0]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary <code>soundtrack_dict</code> what are the keys ?

In [0]:
# Write your code below and press Shift+Enter to execute

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

b) In the dictionary <code>soundtrack_dict</code> what are the values ?

In [0]:
# Write your code below and press Shift+Enter to execute

dict_values(['1992', '1977'])

<hr>

<b>You will need this dictionary for the following questions:</b>

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.

In [0]:
# Write your code below and press Shift+Enter to execute

b) Use the dictionary to find the total sales of <b>Thriller</b>:

In [0]:
# Write your code below and press Shift+Enter to execute

c) Find the names of the albums from the dictionary using the method <code>keys</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

d) Find the names of the recording sales from the dictionary using the method <code>values</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

<h2 id="quiz">Quiz on Sets</h2>

Convert the list <code>['rap','house','electronic music', 'rap']</code> to a set:

In [0]:
# Write your code below and press Shift+Enter to execute

<hr>

Consider the list <code>A = [1, 2, 2, 1]</code> and set <code>B = set([1, 2, 2, 1])</code>, does <code>sum(A) = sum(B)</code>

In [0]:
# Write your code below and press Shift+Enter to execute

<hr>

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [0]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<hr>

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

In [0]:
# Write your code below and press Shift+Enter to execute